
#edit-panels-wrapper {
  width: 100%;

}

.item-edit-panel, .insert-divider {
  /* background-color: lightgrey; */
  margin: 10px;
}

.item-edit-panel {
  padding: 10px;
  border: 1px solid grey;
}

.item-edit-panel .edit-mode-text-input{
  width: 49%;
  display: inline-block;
  font-size: 16px;
  margin: 5px 0;
}


.btn.btn-light {
  border: 1px solid lightgrey;
}


.item-edit-panel.item-hidden {
  background-color: lightgrey;
}

.item-edit-panel.item-hidden .edit-mode-thumbnail {
  width: 100px;
}

.button-toggle-hidden::before {
  content: "Hide";
}
.item-edit-panel.item-hidden .button-toggle-hidden::before {
  content: "Show";
}


.insert-divider {
  width: 25px;
  height: 25px;
  text-align: center;
  background: blue;
}
.insert-divider span.icon {
  position: relative;
  top: -5px;
  color: white;
  font-size: 20px;
}



.item-edit-panel .edit-mode-thumbnail {
  width: 200px;
}
