# cheat sheet: http://borkweb.com/story/apache-rewrite-cheatsheet

#RewriteEngine On

# Whitelist directories:
#   Allow any requests for to be accepted (don't redirect to auth page)
#   as frontend will make requests here
#RewriteRule ^data/ - [L]
#RewriteRule ^vendor/ - [L]
#RewriteRule ^style/ - [L]
